<%= render 'shared/banner'  %>
<h1 class="home-header"></h1>
<div class="home-container">
  <div class="container">
    <div class="row">
        <% @flats.each do |flat|  %>
          <div class="col-xs-12 col-sm-6 col-md-4 flat-card">
            <div >
              <% if flat.photo?%>
                <div class=“card”>
                  <%= cl_image_tag flat.photo.path, class:"card-image"%>
                </div>
              <% else %>
                <div class=“card”>
                  <%= image_tag "flat_placeholder.png", class:"card-image"%>
                </div>
                <% end %>
            </div>

            <div class="card-content">
              <h3><%=flat.name %> </h2>
                <h4><%= flat.location %></h4>
                <p> Price per night: $<%= flat.price %>
                </p>
                <p> Rating ****</p>
                <a class="card-link" href="#" ></a>

                <%= link_to "", flat_path(flat), class: "card-link" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div id="map" style="width: 30%; height: 600px;"></div>
</div>



        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          <% end %>
        <% end %>


