<div class="wrap">
  <h1>List a new flat</h1>

  <div class="form-body">
    <%= simple_form_for(@flat) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :price %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
