<h1 class="home-header"> Your Flats </h1>
  <div class="flats-my">
    <% @flats.each do |flat|  %>

      <div class="flat-grid">
        <% if flat.photo?%>
          <%= cl_image_tag flat.photo.path, class: "flat-grid-picture" %>
        <% else %>
            <%= image_tag "flat_placeholder.png", class: " flat-grid-picture" %>
        <% end %>

        <div class="flat-location">
          <h4> Location: <b> <%= flat.location %></b></h4>
        </div>
        <div class="flat-name">
          <h4><b><%= flat.name %></b></h4>
        </div>
        <div class="flat-price">
          <h4> Price per night: <b>$<%= flat.price %></b></h4>
        </div>
        <div class="flat-description">
          <p><%= flat.description %></p>
          <p class="flat-rating"> Rating ****</p>
          <%= link_to 'Delete', flat_path(flat), method: :delete, class: "flat-delete"%>
        </div>

      </div>
    <% end %>
  </div>





