
  <% if @flat.photo? %>
    <div class="flat-banner" style="background-color:pink;">
    </div>
  <% else %>
    <div class="flat-banner" style="background-color:pink;">
    </div>
  <% end %>

  <div class="flat-info-wrapper">
      <div class="flat-description">
        <h1><%= @flat.name %></h1>
        <p>Beautiful flat in <b><%= @flat.location %></b></p>
        <p>Price per night: <b><%= @flat.price %>€</b></p>
      </div>
      <div class="flat-booking-form">
        <div class="show_booking">
          <div class="wrap">
            <h1 class="text-center">
              Complete your booking
            </h1>
            <div class="form-body col-xs-12 col-sm-12 col-md-12 text-center col-md-offset-0">
              <%= simple_form_for [@flat, @booking] do |f| %>
              <%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
              <%= f.input :nights %>
              <%= f.hidden_field :flat_id, value: @flat.id %>
              <%= f.hidden_field :flat_id, value: @flat.id %>
              <%= f.submit "Book!", class: "btn btn-primary" %>
              <% end %>
              <div id="total-price">
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>


<div class="flat-reviews">
  <% if @reviews %>
    <% @reviews.each do |review|  %>
      <div class="message">
        <%= image_tag "flat_placeholder.png", class: "message-avatar" %>
        <div class="message-name">
          <p style="width: 70px; padding-left: 10px;"> <%= review.user.first_name  %></p>
        </div>
        <div class="message-body">
          <h3><%=review.message %> </h3>
        </div>
        <div class="message-status">
          <p> <%= raw '<i class="fa fa-star" aria-hidden="true"></i>' * review.rating %> </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="add-review">
    <div class="wrap">
      <h1 class="text-center">
        Review your stay
      </h1>
      <div class="form-body col-xs-12 col-sm-12 col-md-12 text-center col-md-offset-0">
        <%= simple_form_for [@flat, @review] do |f| %>
        <%= f.input :message %>
        <%= f.input :rating %>
        <%= f.submit "Review!", class: "btn btn-primary" %>
        <% end %>

    </div>
  </div>
</div>
</div>

<script>

  let nightForm = document.getElementById("booking_nights");
  let priceDiv = document.getElementById("total-price");

  nightForm.addEventListener("keyup", function(event){
    let nights = nightForm.value;
    let totalPrice = <%= raw @flat.price %> * parseInt(nights);
    priceDiv.innerHTML = totalPrice + "€"
  })

</script>

