<div class="show-flat">
  <div class="banner-content">
      <h1><%= @flat.name %></h1>
      <p>Beautiful flat in <b><%= @flat.location %></b></p>
      <p>Price per night: <b><%= @flat.price %>€</b></p>
      <%= link_to "Book now", new_flat_booking_path(@flat), class: "btn btn-danger btn-lg" %>
  </div>
  <div class="flat-image">
      <% if @flat.photo? %>
      <%= cl_image_tag @flat.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    </div>
</div>
